.vscode
testing-project
.mypy_cache
poetry.lock
dev-link/

.idea/
Pipfile*
*project/
base-project

mykey*
.terraform/
*tfstate*
kubeconfig*

deployments

# specific to anthony's development
push_to_demo_repo.sh